body {
  background-color: #e6e6e6;
}

#text-box {
  width: 29.5%;
  height: 80%;
  top:0;left:0;right:0;bottom:0;
  position: absolute;
  margin: auto;
  background-color: #222;
  color: white;
  padding: 5px;
  border: 4px double white;
  overflow: auto;
}
h3 {
  margin: auto;
  position: absolute;
  top:-85%;left:0;right:0;bottom:0;
  text-align: center;
  width: 200px;
  height: 10%;
}
#github {
  left:0;right:0;bottom:0;
  text-align: center;
  margin: auto;
  position: absolute;
  color: black;
  text-align: center;
  width: 170px;
  height: 5%;
  text-decoration: none;
}

#text-box:focus {
  outline: none;
}


#word-box h2 {
  text-align: center;
  font-size: 24px;
}

#word-box p {
  text-align: center;
}

#info-box {
  width: 18.5%;
  height: 80%;
  top:0;left:50%;right:0;bottom:0;
  position: absolute;
  margin: auto;
  background-color: #222;
  color: white;
  padding: 5px;
  border: 4px double white;
}
#word-box {
  width: 18.5%;
  height: 80%;
  top:0;left:-50%;right:0;bottom:0;
  position: absolute;
  margin: auto;
  background-color: #222;
  color: white;
  padding: 5px;
  border: 4px double white;
}
#whole {
  width: 100%;
  height: 100%;
  top:0;left:0;right:0;bottom:0;
  position: absolute;
  margin: auto;
}



.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    position: absolute;
    background-color: #222;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    top:0;right:0;bottom:0;left:0;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.popup-footer {
    padding: 2px 16px;
}

.popup-body {
  position: absolute;
  padding: 2px 16px;
  width: 80%;
  height: 80%;
  left: 0;right: 0;
  margin: auto;
}

#stats {
  top: 5px;
  left: 25px;
  margin: auto;
  position: absolute;
  border: 2px solid white;
  height: 30px;
  text-align: center;
  background-color: inherit;
  color: white;
}
#stats:hover {
  background-color: #e6e6e6;
  color: black;
}
#stats:focus {
  border: 3px solid white;
  outline: none;
}
#close {
  top: 5px;
  right: 25px;
  margin: auto;
  position: absolute;
  font-size: 32px;
  font-weight: bolder;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: inherit;
  border: none;
  color: white;
}
#close:focus {
  outline: none;
}
#show_stats {
  background-color: #35c64c;
  border: 1px solid #222;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  position: absolute;
  width: 9vw;
  height: 5vh;
}
#show_stats:hover {
  background-color: #42f45c;
}
#show_stats:focus {
  outline: none;
}
#chart {
  color: white;
}
